:root {
  /* Colours */
  --clr-primary-300: hsla(13, 83%, 60%, 1); /* Borders */
  --clr-primary-500: hsla(13, 83%, 53%, 1);

  --clr-neutral-100: hsla(30, 100%, 99%, 1);
  --clr-neutral-300: hsla(35, 50%, 95%, 1);

  --clr-neutral-800: hsla(3, 100%, 4%, 1);

  --clr-border: var(--clr-primary-300);

  --clr-neutral-800-opacity-25: hsla(0, 0%, 0%, 0.25);

  /* Font Families */
  --ff-base: "Poppins", sans-serif;
  --ff-accent: "Montserrat", sans-serif;

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* Font Sizes */
  --fs-800: 2.5rem; /* header title */
  --fs-700: 3rem; /* footer title */
  --fs-600: 2.25rem; /* about title */
  --fs-500: 1.625rem; /* section title */

  --fs-400: 1.5rem; /* large body, subtitle */
  --fs-300: 1.125rem; /* body, button text */

  --fs-200: 1rem; /* copyright */
  --fs-100: 0.875rem; /* attribution */

  --size-50: 0.125rem;
  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-250: 0.625rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-450: 1.25rem;
  --size-500: 1.5rem;
  --size-550: 1.75rem;
  --size-600: 2rem;
  --size-650: 2.5rem;
  --size-700: 3rem;
  --size-750: 3.25rem;
  --size-800: 3.5rem;
  --size-850: 4rem;
  --size-900: 5rem;
  --size-950: 5.5rem;

  --container-padding: var(--size-550);
  --hero-padding: var(--size-850) var(--size-600) var(--size-900);
  --card-padding: var(--size-700) var(--size-600) var(--size-700);
  --button-padding: var(--size-500) var(--size-600);

  /* margin below hero and above CTA */
  --main-margin: var(--size-800);
  --feature-card-margin: var(--size-700);
  --swiper-margin-top: var(--size-400);

  --container-max-width: 46em;
}

/* 
@media (min-width: 950px) {
  .features {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100em;
    margin: 3em auto;
  }
} */

/* CSS Reset */
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */

.container {
  --max-width: 75rem;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

/* Colour Utilities */
.bg-primary-300 {
  background-color: var(--clr-primary-300);
}

.bg-primary-500 {
  background-color: var(--clr-primary-500);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}

.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}

.bg-gradient-to-t-orange-peach {
  background: linear-gradient(0deg, #ee5b2d 40.36%, #ffc785 88.5%);
}

.bg-gradient-to-b-orange-coral-sunset {
  background: linear-gradient(
    180deg,
    #ee5b2d 31%,
    #f1844a 69.02%,
    #f4aa65 100%
  );
}

.bg-gradient-to-b-sunset-orange {
  background: linear-gradient(180deg, #FBAE71 0%, #EE5B2D 70%);
}

.text-primary-300 {
  color: var(--clr-primary-300);
}

.text-primary-500 {
  color: var(--clr-primary-500);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-300 {
  color: var(--clr-neutral-300);
}

.text-neutral-800 {
  color: var(--clr-neutral-800);
}

.border-primary-300 {
  border-color: var(--clr-primary-300);
}

/* Font Family Utilities */
.ff-base {
  font-family: var(--ff-base);
}

.ff-accent {
  font-family: var(--ff-accent);
}

/* Font Weight Utilities */
.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-extra-bold {
  font-weight: var(--fw-extra-bold);
}

/* Font Size Utilities */
.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-100 {
  font-size: var(--fs-100);
}

/* For hyphenated words like T-moji and t-mate */
.nowrap {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.vertical-align-center {
  justify-items: center;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, var(--size-800));
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

/* General Styling */
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  background-color: var(--clr-neutral-300);
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-family: var(--ff-accent);
  text-wrap: balance;
}

.subtitle {
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
  letter-spacing: 0.1rem;
  color: var(--clr-neutral-300);
  text-transform: uppercase;
}

a {
  color: var(--clr-neutral-100);
}

/* Hover state */
footer .attribution:hover {
  color: var(--clr-primary-300);
}

a:visited {
  color: var(--clr-primary-300);
}

a:visited:hover {
  color: var(--clr-neutral-100);
}

.download-button {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 1.5vmax;
  padding: var(--button-padding);
  line-height: 1;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-300);
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-800);
  box-shadow: 0.25em 0.25em 0.25em 0 var(--clr-neutral-800-opacity-25);
}

.download-button:hover,
.download-button:focus-visible {
  opacity: 0.8;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;

  gap: var(--size-300);
  width: min(75em, (100% - (var(--container-padding) * 2)));
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding: var(--card-padding);
  border-radius: 3% 3% 4% 4%;
  border-top: 6px var(--clr-primary-300) solid;
  background-color: var(--clr-neutral-100);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 12px -5px;
}

.card h3 {
  text-wrap: balance;
}

.card p {
  text-wrap: pretty;
}

/* Margins */
.hero {
  max-width: var(--container-max-width);
}

.hero-container {
  margin-bottom: var(--main-margin);
}

.call-to-action {
  max-width: var(10rem);
}

.call-to-action-container {
  margin-top: var(--main-margin);
}

.card {
  margin-top: var(--feature-card-margin);
}

.topbar {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20%, -50%);
  z-index: 10;
}

.topbar .icon {
  border-radius: 50%;
  padding: 2px;
  background-color: white;
  box-shadow: 2px 4px 4px 0px hsla(0, 0%, 0%, 0.2);
}

.topbar img {
  border-radius: 50%;
}

.hero-container {
  padding: var(--hero-padding);
  border-radius: 0% 0% 4% 4%;
  background-color: var(--clr-neutral-100);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 12px -5px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
}

/* Hero Section */
.hero .subtitle {
  margin-top: var(--size-500);
}

.hero h1 {
  margin-top: var(--size-50);
}

.hero button {
  margin-top: var(--size-600);
}

.hero img {
  margin-right: auto;
  margin-left: auto;
  width: clamp(120px, 45%, 450px);
}

/* About Section */
.about .card p:nth-of-type(1) {
  margin-top: var(--size-100);
  max-width: 50ch;
}

.about .card p:nth-of-type(2) {
  margin-top: var(--size-200);
}

/* Swiper */
.swiper {
  width: 100%;
  height: auto;
  border-radius: 5%;
  box-shadow: 0px 0px 4px 0px hsla(0, 0%, 0%, 0.2);
  margin-top: var(--swiper-margin-top);
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.swiper-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33.33%;
  background-color: white;
  border-radius: inherit; /* Inherits the same radius as the parent */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: var(--size-800) 0;
}

/* Features Section */
.features {
  display: grid;
  grid-auto-rows: 1fr; /* makes all rows same height */
}

.features .card h3 {
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-500);
  margin-top: var(--size-300);
}

.features .card p {
  font-size: var(--fs-300);
  margin-top: var(--size-200);
}

.card img {
  aspect-ratio: 1 / 1;
}

/* Call to Action Section */
.call-to-action-container {
  border-radius: 5% 5% 0px 0px;
  padding: var(--size-900) var(--size-700) var(--size-900);
  display: grid;
  justify-content: center;
  align-items: center;
}

.call-to-action .subtitle {
  margin-top: var(--size-250);
}

.call-to-action button {
  margin-top: var(--size-600);
}

.call-to-action img {
  margin-top: var(--size-600);
  width: min(85%, 28rem);
}

/* Footer */
footer {
  padding: var(--size-650) var(--size-250) var(--size-600);
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.2rem;
}

footer p:nth-of-type(1) {
  margin-top: var(--size-600);
}

footer p:nth-of-type(2) {
  margin-top: var(--size-250);
  text-wrap: balance;
}

.social-icons ul li a:hover,
.social-icons ul li a:focus-visible {
  opacity: 0.7;
}

@media (max-width: 23.5rem) {
  :root {
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --container-padding: var(--size-400);
    --swiper-margin-top: var(--size-250);
  }
}

@media (min-width: 42em) and (max-width: 57em) {
  :root {
    --hero-padding: var(--size-900) var(--size-800) var(--size-900);
  }

  .topbar img {
    width: 64px;
    height: 64px;
  }
}

/* Large fonts */
@media (min-width: 42em) and (max-width: 57em), (min-width: 75em) {
  :root {
    --fs-800: 5rem; /* header title */
    --fs-700: 5rem; /* footer title */
    --fs-600: 3.5rem; /* about title */
    --fs-500: 3rem; /* section title */
    --fs-400: 1.625rem; /* large body, subtitle */
    --fs-300: 1.5rem; /* body, button text */
    --fs-200: 1.25rem; /* copyright */
    --fs-100: 1.125rem; /* attribution */

    --container-padding: var(--size-650);
    --button-padding: var(--size-600) var(--size-700);
    --swiper-margin-top: var(--size-600);
  }

  .card {
    padding-top: auto;
    gap: var(--size-200);
  }
}

/* 2x2 Grid */
@media (min-width: 57em) and (max-width: 75em) {
  :root {
    --fs-800: 5rem; /* header title */
    --fs-700: 5rem; /* footer title */
    --fs-600: 3.5rem; /* about title */
    --fs-500: 3rem; /* section title */
    --fs-400: 1.625rem; /* large body, subtitle */
    --fs-300: 1.5rem; /* body, button text */
    --fs-200: 1.25rem; /* copyright */
    --fs-100: 1.125rem; /* attribution */

    --container-padding: var(--size-300);
    --feature-card-margin: var(--size-600);
    --main-margin: var(--size-900);
    --swiper-margin-top: var(--size-400);
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  .card h3 {
    --fs-800: 2.5rem; /* header title */
    --fs-700: 3rem; /* footer title */
    --fs-600: 2.25rem; /* about title */
    --fs-500: 1.625rem; /* section title */

    --fs-400: 1.25rem; /* large body, subtitle */
    --fs-300: 1.125rem; /* body, button text */

    --fs-200: 1rem; /* copyright */
    --fs-100: 0.875rem; /* attribution */
  }

  .call-to-action h2 {
    --fs-700: 2.75rem;
  }

  /* Spacing between about and top of features section */
  .features .card:nth-child(1),
  .features .card:nth-child(2) {
    --feature-card-margin: var(--size-850);
  }

  .about,
  .features {
    margin-inline: var(--size-500);
  }
}

/* Larger Hero and Call to Action after 2x2 Grid */
@media (min-width: 57em) {
  :root {
    --hero-padding: var(--size-900) var(--size-950) var(--size-950);
  }

  /* Hero */
  .hero {
    display: flex;
    flex-direction: row-reverse;
  }

  .hero .content {
    text-align: left;
    flex: 7.5;
  }

  .hero img {
    flex: 2.5;
  }

  /* CTA */
  .call-to-action {
    display: flex;
    flex-direction: row;
  }

  .call-to-action-container {
    padding: var(--size-900) var(--size-900) var(--size-900);
  }

  .call-to-action .content {
    text-align: left;
    flex: 6;
  }

  .call-to-action img {
    flex: 4;
  }

  .topbar img {
    width: 64px;
    height: 64px;
  }

  .topbar .icon {
    border-radius: 50%;
    padding: 6px;
    box-shadow: 2px 4px 4px 0px hsla(0, 0%, 0%, 0.2);
  }

  /* Footer */
  footer {
    padding: var(--size-700) var(--size-250) var(--size-600);
  }

  footer img {
    width: 64px;
    height: 64px;
  }

  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: calc(var(--size-750) + 2vw);
  }

  footer p:nth-of-type(1) {
    margin-top: var(--size-600);
  }

  footer p:nth-of-type(2) {
    margin-top: var(--size-250);
    text-wrap: balance;
  }
}

/* Large cards */
@media (min-width: 75em) {
  :root {
    --card-padding: var(--size-850) var(--size-900) var(--size-850)
      var(--size-850);
  }

  .features .card {
    display: flex;
    gap: var(--size-700);
  }

  .features .card:nth-child(odd) {
    flex-direction: row;
  }

  .features .card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .features .card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 7.5;
  }

  .features .card img {
    flex: 2.5;
  }

  .call-to-action-container {
    padding: var(--size-900) var(--size-950) var(--size-900);
  }
}

.hero-container,
.card,
.call-to-action-container {
  transform: scale(0.8);
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

@keyframes fade-in {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
