:root {
  /* Colours */
  --clr-primary-300: hsla(13, 83%, 60%, 1); /* Borders */
  --clr-primary-500: hsla(13, 83%, 53%, 1);

  --clr-neutral-200: hsla(30, 100%, 99%, 1);
  --clr-neutral-300: hsla(35, 50%, 95%, 1);

  --clr-neutral-800: hsla(3, 100%, 4%, 1);

  --clr-border: var(--clr-primary-300);

  /* Font Families */
  --ff-base: "Poppins", sans-serif;
  --ff-accent: "Montserrat", sans-serif;

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* Font Sizes */
  --fs-900: ;
  --fs-800: 5rem; /* header title */
  --fs-700: 5rem; /* footer title */
  --fs-600: 3.5rem; /* about title */
  --fs-500: 3rem; /* section title */
  --fs-400: 1.625rem; /* large body, subtitle */
  --fs-300: 1.5rem; /* body, button text */
  --fs-200: 1.25rem; /* Copyright */
  --fs-100: 1.125rem; /* Attribution */
}

@media (min-width: 35em) {
  :root {
    --fs-900: ;
    --fs-800: 2.5rem;
    --fs-700: 3rem;
    --fs-600: 2.25rem;
    --fs-500: 1.625rem;
    --fs-400: 1.25rem;
    --fs-300: 1.125rem;
    --fs-200: 1rem;
    --fs-100: 0.875rem;
  }
}

/* CSS Reset */
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
