:root {
  /* Colours */
  --clr-primary-300: hsla(13, 83%, 60%, 1); /* Borders */
  --clr-primary-500: hsla(13, 83%, 53%, 1);

  --clr-neutral-100: hsla(30, 100%, 99%, 1);
  --clr-neutral-300: hsla(35, 50%, 95%, 1);

  --clr-neutral-800: hsla(3, 100%, 4%, 1);

  --clr-border: var(--clr-primary-300);

  --clr-neutral-800-opacity-25: hsla(0, 0%, 0%, 0.25);

  /* Font Families */
  --ff-base: "Poppins", sans-serif;
  --ff-accent: "Montserrat", sans-serif;

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* Font Sizes */
  --fs-800: 5rem; /* header title */
  --fs-700: 5rem; /* footer title */
  --fs-600: 3.5rem; /* about title */
  --fs-500: 3rem; /* section title */
  --fs-400: 1.625rem; /* large body, subtitle */
  --fs-300: 1.5rem; /* body, button text */
  --fs-200: 1.25rem; /* Copyright */
  --fs-100: 1.125rem; /* Attribution */
}

@media (max-width: 35rem) {
  :root {
    --fs-800: 2.5rem;
    --fs-700: 3rem;
    --fs-600: 2.25rem;
    --fs-500: 1.625rem;
    --fs-400: 1.25rem;
    --fs-300: 1.125rem;
    --fs-200: 1rem;
    --fs-100: 0.875rem;
  }
}

/* CSS Reset */
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */

.container {
  --max-width: 75rem;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

/* Colour Utilities */
.bg-primary-300 {
  background-color: var(--clr-primary-300);
}

.bg-primary-500 {
  background-color: var(--clr-primary-500);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}

.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}

.text-primary-300 {
  color: var(--clr-primary-300);
}

.text-primary-500 {
  color: var(--clr-primary-500);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-300 {
  color: var(--clr-neutral-300);
}

.text-neutral-800 {
  color: var(--clr-neutral-800);
}

.border-primary-300 {
  border-color: var(--clr-primary-300);
}

/* Font Family Utilities */
.ff-base {
  font-family: var(--ff-base);
}

.ff-accent {
  font-family: var(--ff-accent);
}

/* Font Weight Utilities */
.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-extra-bold {
  font-weight: var(--fw-extra-bold);
}

/* Font Size Utilities */
.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* For hyphenated words like T-moji and t-mate */
.nowrap {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.subtitle {
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-300);
  text-transform: uppercase;
}

/* General Styling */
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  background-color: var(--clr-neutral-300);
}

h1,
h2,
h3 {
  line-height: 1.25;
  font-family: var(--ff-accent);
}

.base-button {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 1.5vmax;
  padding: 1em 0.8em;
  line-height: 1;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-300);
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-800);
  box-shadow: 0.25em 0.25em 0.25em 0 var(--clr-neutral-800-opacity-25);
}

.features > .card > h3 {
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-500);
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.2rem;
}
